.button {
  appearance: none;
  border: 3px solid var(--color-text);
  border-radius: 6px;

  color: var(--color-text);
  padding: 0 1ch;
  line-height: 3ch;
  font-family: inherit;
  font-weight: 600;
  background: var(--color-bg);
  text-transform: uppercase;
  letter-spacing: 0.1ch;
  font-size: 1.5rem;
  cursor: pointer;
  user-select: none;
}

@media (hover: hover) {
  .button:hover {
    color: var(--color-bg);
    background-color: var(--color-text);
  }
}

.button:active {
  color: var(--color-bg);
  background-color: var(--color-text);
  box-shadow: 0 0 0 0.2rem var(--color-text);
}

.button:disabled {
  opacity: 0.5;
  cursor: default;
  pointer-events: none;
}

.button.sizeSmall {
  font-size: 1rem;
}
