.canvas {
  box-shadow: 0 0.05rem 0.2rem 0.1rem rgba(0, 0, 0, 0.07),
    0 0.2rem 0.5rem 0 rgba(0, 0, 0, 0.07), 0 0.4rem 1rem 0 rgba(0, 0, 0, 0.07);
  position: absolute;
  inset: 0;
  align-self: center;
  justify-self: center;
  touch-action: none;
  z-index: var(--layer-canvas);
  overflow: hidden;
}

.title {
  position: absolute;
  top: 2rem;
  left: 1.5rem;
  right: 1.5rem;
  text-align: center;
  pointer-events: none;
  z-index: var(--layer-canvas);
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  animation: fadeIn 0.7s 0.1s ease-in-out both;
}

.titleContent {
  width: 100%;
  max-width: 40rem;
  margin: 0 auto;
  padding: 1rem;

  --c: rgba(255, 255, 255, 0.4);
  background: var(--c);
  box-shadow: 0 0 0.3rem 0.2rem var(--c);
}

.title h1 {
  font-size: 2rem;
  margin: 0;
  line-height: 1.2;
  font-weight: 600;
}

.title p,
.title ol {
  font-size: 1.25rem;
}

.title ol {
  text-align: start;
  padding: 0;
}

.background {
  position: absolute;
  inset: 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  pointer-events: none;
  z-index: 1;

  animation: fadeIn 0.4s 0s ease-in-out both;
}

.canvas svg {
  position: absolute;
  z-index: 2;
  animation: fadeIn 0.8s 0.3s ease-in-out both;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
}

.canvas svg path {
  scale: var(--s);
  /* TODO: share with JS */
  transform-origin: 5000px 5000px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
