.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 1rem;
  z-index: var(--layer-nav);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .withGoat::before {
  content: "🐐";
}

.header a {
  font-size: 1rem;
  text-decoration: none;
  color: var(--color-text);
  font-family: monospace;
}

@media (min-width: 500px) {
  .header a {
    font-size: 1.25rem;
  }
}

.header a span {
  text-decoration: underline;
  padding-inline-start: 0.5rem;
}

@media (hover: hover) {
  .header .withGoat:hover::before {
    text-decoration: underline;
    text-decoration-thickness: 0.5rem;
    text-decoration-color: green;
    text-underline-offset: -0.07em;
  }
}
