.ohNo {
  position: absolute;
  inset: 1rem;
  display: grid;
  place-items: center;
}

.ohNo label {
  display: flex;
  gap: 0.1rem;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

@media (hover: hover) {
  .ohNo label:hover {
    text-decoration: underline;
  }
}
.ohNo input[type="checkbox"] {
}
