.ohNo {
  position: absolute;
  inset: 1rem;
  display: grid;
  place-items: center;
  font-size: 1.5rem;
}

.ohNo label {
  display: flex;
  gap: 0.25rem;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

@media (hover: hover) {
  .ohNo label:hover {
    text-decoration: underline;
  }
}
.ohNo input[type="checkbox"] {
  font-size: 1.5rem;
  width: 1.5rem;
  height: 1.5rem;
  vertical-align: baseline;
}
