.app footer {
  z-index: var(--layer-nav);
}

.app h1 {
  margin: 0;
  padding: 0;
  text-align: center;
  line-height: 1;
  font-size: 2rem;
  font-weight: 600;
}

.app footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1rem;
}

.app nav {
  width: 100%;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
}

.app main {
  padding: 1rem;
  position: absolute;
  inset: 0;
  grid-template-columns: 1fr;
  grid-template-rows: min-content 1fr min-content;
}

.strokePreview {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  background: rgba(255, 255, 255, 1);
  border-radius: 100rem;
  backdrop-filter: blur(0.1rem);
  mix-blend-mode: difference;
  z-index: var(--layer-overlay);
  width: var(--w);
  height: var(--w);
  visibility: hidden;
  opacity: 0;
  transition: 0.2s opacity, 0.2s visibility;
}

.strokePreview.isVisible {
  opacity: 1;
  visibility: visible;
}

.app label.isVertical {
  rotate: -90deg;
}

.canvasTools {
  position: absolute;
  left: 1rem;
  top: 3rem;

  bottom: 3rem;
  height: 3rem;
  /* width: 80vh; */
  transform-origin: top left;

  translate: 0 70vh;
  rotate: -90deg;
  z-index: var(--layer-nav);

  display: flex;
  gap: 1rem;
  align-items: center;
}

.app label {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: bold;
}

.app input[type="range"] {
  appearance: none;
  height: 1rem;

  --range-track-color: var(--color-text);
}

.app input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 100rem;
  border: none;
  background: var(--color-bg);
  cursor: pointer;
  margin-block-start: -0.5rem;
  box-shadow: 0 0 0 0.25rem var(--color-text);
}

@media (hover: hover) {
  .app input[type="range"]::-webkit-slider-thumb:hover {
    box-shadow: 0 0 0 0.25rem rgba(0, 0, 0, 0.5);
  }
}

.app input[type="range"]::-webkit-slider-runnable-track {
  appearance: none;
  background: var(--range-track-color);
  height: 0.5rem;
  border-radius: 100rem;
}

input[type="range"]::-moz-range-track {
  appearance: none;
  background: var(--range-track-color);
  height: 0.5rem;
  border-radius: 100rem;
}

.app input[type="range"]::-moz-range-thumb {
  appearance: none;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 100rem;
  border: none;
  background: var(--color-bg);
  cursor: pointer;
  margin-block-start: -0.5rem;
  box-shadow: 0 0 0 0.25rem var(--color-text);
}

@media (hover: hover) {
  .app input[type="range"]:hover::-moz-range-thumb {
    box-shadow: 0 0 0 0.25rem rgba(0, 0, 0, 0.5);
  }
}
.uiOverlay {
  position: absolute;
  inset: 0;
  z-index: var(--layer-overlay);
  pointer-events: none;
}
