:root {
  /* font-family: Courier New, monospace; */
  font-family: Garamond, Baskerville, Baskerville Old Face, Hoefler Text,
    Times New Roman, serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;

  --color-bg: white;
  --color-text: black;

  --layer-bg: 1;
  --layer-canvas: 2;
  --layer-nav: 10;
  --layer-overlay: 100;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
  touch-action: manipulation;
}

html,
body {
  color: var(--color-text);
  background-color: var(--color-bg);
  padding: 0;
  margin: 0;
  position: absolute;
  inset: 0;
}
